body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#212121), to(#666666));
  color: white;
}

#footer {
  color: black;
}

.subsection {
  background: transparent;
  color: inherit;
}

#preso, .slide {
  background: transparent;
}

div.note {
  margin-top: 240px;
  float: right;
}

